@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
/* Add these styles in your CSS file or as inline styles */
.button {
  padding: 5px 12px;
  margin: 0 5px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #007BFF;
}

.button:disabled {
  opacity: 0.5;
  filter: blur(1px);
  cursor: not-allowed;
}

.button:not(:disabled):hover {
  background-color: #0160c7;
  /* Example hover effect */
  color: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 132, 255);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(1, 74, 142);
}